body {
  /* font-family: Helvetica, sans-serif; */
  font-family: monospace;
  padding: 0;
  margin: 0;
  text-align: center;
}
h1 {
  z-index: 10;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  position: fixed;
  left: 10%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.959);
  padding-bottom: 7px;
}

button {
  display: inline-block;
  font-size: 2em;
  background: none;
  padding: 0.25em;
}
.day {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 1em;
}
.nameZ {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 1.4em;
  display: inline-block;
}
.nameD {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(138, 43, 226);
  font-size: 1.4em;
  display: inline-block;
}

.code {
  display: inline-block;
  padding: 1em 0em 1em 1em;
  white-space: normal;
}

.zozo-code:hover {
  background: rgba(255, 196, 196, 0.192);
  /* opacity: 20%; */
}

.dave-code:hover {
  background: rgba(255, 186, 255, 0.288);
}

p {
  margin: 0;
}

br::selection {
  background: transparent;
}

.break-s {
  margin: 1em;
}

.break-m {
  margin: 3em;
}

.canvas {
  z-index: -1;
  top: 5em;
  margin-left: -700px;
  position: fixed;
}

.canvas::selection {
  background: transparent;
}

.volumeSliderZ {
  width: 60%;
}
.volumeSliderD {
  width: 60%;
}
.tempoSlider {
  width: 60%;
}

.sliderDiv {
  z-index: 10;
  border-style: solid;
  border-color: rgb(138, 43, 226);
  border-width: 2px;
  width: 22%;
  height: 50%;
  position: fixed;
  left: 74%;
  /* margin-left: -5%; */
  padding-bottom: 1rem;
  top: 20%;
  white-space: nowrap;
  background: rgba(238, 236, 252, 0.678);
  /* transform: translate(200%); */
}

.sliderDiv i {
  padding-top: 1.6rem;
  padding-right: 0.8rem;
}

.codePanel {
  padding-top: 1em;
  margin-left: 15%;
  width: 50%;
  padding-top: 1em;
  white-space: nowrap;
}
.codePanel .zozo-code {
  text-align: left;
  width: 100%;
}

.noHover {
  pointer-events: none;
}

.codePanel .dave-code {
  /* font-family: monospace;
  font-size:1.1em; */
  text-align: left;
  width: 100%;
}

.dayPanel {
  background-color: transparent;
  width: 50%;
}

.playPanel .zozo-code {
  animation-name: zozo-fade;
  /* animation-duration: 2s; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.playPanel .dave-code {
  animation-name: dave-fade;
  /* animation-duration: 2s; */
  /* animation-delay: 10ms; */
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes zozo-fade {
  0% {
    color: rgb(250, 242, 242);
  }
  100% {
    color: red;
  }
}
@keyframes dave-fade {
  0% {
    color: rgb(250, 242, 242);
  }
  100% {
    color: rgb(138, 43, 226);
  }
}
.zozo-code::-moz-selection {
  /* Code for Firefox */
  background: yellow;
}

.zozo-code::selection {
  background: yellow;
}

.dave-code::-moz-selection {
  /* Code for Firefox */
  background: greenyellow;
}

.dave-code::selection {
  background: greenyellow;
}

.nameZ::selection {
  background: transparent;
}
.nameZ::-moz-selection {
  background: transparent;
}
.nameD::selection {
  background: transparent;
}
.nameD::-moz-selection {
  background: transparent;
}

.day::selection {
  background: transparent;
}

.tempoSlider::selection {
  background: transparent;
}

h1::selection {
  background: transparent;
}

#p5_loading {
  margin-top: 40vh;
}
#loading-bar {
  background-color: red;
  width: 0.5%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
